<h1>Book Details</h1>
{% for book in books %}
<p><strong>Title of book:</strong> {{ book.title }}</p>
<p><strong>Category:</strong> {{ book.category }}</p>
<p><strong>Published date:</strong> {{ book.pubdate |date('Y-m-d H:i:s') }}</p>
<p><strong>Author name:</strong> {{ book.author }}</p>
{% endfor %}

